<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="fragments/userHomeLayout" lang="en">
  <head>
    
    <meta charset="UTF-8" />
    <title>Articles - Myanmar Effective Programmer</title>	
	
  </head>

  <body>  	

	<div layout:fragment="content" >

    <div class="container blog-content">

      <div class="row">

        <div class="col-sm-12 blog-main">			
			
		  <div th:if="${#lists.isEmpty(articleDashboardList)}" >
		  	<div class="row">
		  		<div class="col-sm-4">
		  			<h2> (On Working!) </h2>
		  			<br />
		  		</div>
		  	</div>
		  </div>
		  
          <!-- <div class="row">
          	<div th:each="article : ${articleDashboardList}">
	            <div class="col-sm-4">
	              <section class="blog-post">
	                <div class="panel panel-default">	                  
	                  <div th:switch="${article.contentType}"> 
						  <p th:case="0"><img th:src="${(!#strings.isEmpty(article.postTitleImgUrl)) ? article.postTitleImgUrl : ''}" class="img-responsive" /> 
						  	</p>				  
						  <p th:case="*">
						  	</p> 
					  </div>	                  
	                  <div class="panel-body">
	                    <div class="blog-post-meta">
	                      <span class="label label-light label-success">MEP</span>
	                      <p class="blog-post-date pull-right"><span
								th:utext="${#dates.format(article.createdDate, 'MMMMM dd, yyyy')}"></span>
								/ BY <span th:utext="${article.adminName}"></span></p>
	                    </div>
	                    <div class="blog-post-content">
	                      <a th:href="@{/{createdDate}/{postTitleEng}(createdDate=${#dates.format(article.createdDate, 'yyyy-MM-dd')}, postTitleEng=${article.postTitleEng})}">
	                        <h2 class="blog-post-title"><span th:utext="${article.postTitle}"></span></h2>
	                      </a>
	                      
	                      <a class="btn btn-info" th:href="@{/{createdDate}/{postTitleEng}(createdDate=${#dates.format(article.createdDate, 'yyyy-MM-dd')}, postTitleEng=${article.postTitleEng})}">Read more</a>
	                      <a class="blog-post-share pull-right" href="#">
	                        <i class="material-icons">&#xE80D;</i>
	                      </a>
	                    </div>
	                  </div>
	                </div>
	              </section>         
	            </div>
			</div>
            
          </div>  -->  
          
          <!-- Test Start -->          
          	<div class="row">
	          	<div class="col-sm-4" th:each="articleList : ${articleDashboardList}">		            
	              <section class="blog-post" th:each="article : ${articleList}">
	                <div class="panel panel-default">	                  
	                  <div th:switch="${article.contentType}"> 
						  <p th:case="0"><img th:src="${(!#strings.isEmpty(article.postTitleImgUrl)) ? article.postTitleImgUrl : ''}" class="img-responsive" /> 
						  	</p>				  
						  <p th:case="*">
						  	</p> 
					  </div>	                  
	                  <div class="panel-body">
	                    <div class="blog-post-meta">
	                      <span class="label label-light label-info">MEP</span>
	                      <p class="blog-post-date pull-right"><span
								th:utext="${#dates.format(article.createdDate, 'MMMMM dd, yyyy')}"></span>
								/ BY <span th:utext="${article.adminName}"></span></p>
	                    </div>
	                    <div class="blog-post-content">
	                      <a th:href="@{/{createdDate}/{postTitleEng}(createdDate=${#dates.format(article.createdDate, 'yyyy-MM-dd')}, postTitleEng=${article.postTitleEng})}">
	                        <h2 class="blog-post-title"><span th:utext="${article.postTitle}"></span></h2>
	                      </a>
	                      
	                      <a class="btn btn-info" th:href="@{/{createdDate}/{postTitleEng}(createdDate=${#dates.format(article.createdDate, 'yyyy-MM-dd')}, postTitleEng=${article.postTitleEng})}">Read more</a>
	                      <a class="blog-post-share pull-right" href="#">
	                        <i class="material-icons">&#xE80D;</i>
	                      </a>
	                    </div>
	                  </div>
	                </div>
	              </section>			           
				  </div>	            
	          </div>
          <!-- Test End -->       

        </div><!-- /.blog-main -->

      </div><!-- /.row -->

    </div><!-- /.container -->
    
    </div>

  </body>
</html>