<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
	<title>Header</title>
    
</head>
<body>
		<div th:fragment="user-right-menu">
		
		<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
	
	          <div class="sidebar-module">
	            <div class="form-group">
	              <input type="text" class="form-control" placeholder="Search" />
	            </div>
	          </div><!-- /.sidebar-module -->
	
	          <div class="sidebar-module">
	            <div class="panel panel-default">
	              <div class="panel-body">
	                <h4>About</h4>
	                <p>Donec ut libero sed arcu vehicula ultricies a non tortor. <em>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</em> Aenean ut gravida lorem.</p>
	              </div>
	            </div>
	          </div><!-- /.sidebar-module -->
	          
	          <div class="sidebar-module">
	            <div class="form-group">
	              <div th:each="year,iter : ${archiveList}">
	              <div class="panel-group" id="accordion1">			
			            <div class="panel panel-success">
			                <div class="panel-heading">
			                    <h4 class="panel-title">
			                        <a data-toggle="collapse" data-parent="#accordion1" th:href="${'#collapseTwo' + iter.index}"><span th:text="${year.year}"></span>
			                        </a>
			                    </h4>
			                </div>
			                <div th:id="${'collapseTwo' + iter.index}" class="panel-collapse collapse">
			                    <div class="panel-body">
			                        <div class="panel-body">			                            
			                            <div class="panel-group" id="accordion21">
			                            	<div th:each="month, iterMonth : ${year.monthList}">
			                                <div class="panel">
			                                    <a data-toggle="collapse" data-parent="#accordion21" th:href="${'#collapseTwoOne'+ iter.index + iterMonth.index}"><span th:text="${month.month}"></span> &raquo;
			                                    </a>
			                                    <div th:id="${'collapseTwoOne'+ iter.index + iterMonth.index}" class="panel-collapse collapse">
			                                    	<div th:each="article : ${month.articleList}">
			                                        	<div class="panel-body">
			                                        		<a th:href="@{/{createdDate}/{postTitleEng}(createdDate=${#dates.format(article.createdDate, 'yyyy-MM-dd')}, postTitleEng=${article.postTitleEng})}">
			                                        			<span th:text="${article.postTitle}"></span>
			                                        		</a>
			                                        	</div>
			                                        </div>
			                                    </div>
			                                </div>
			                                </div>
			                            </div>
			                        </div>
			                    </div>
			                </div>
			            </div>			
			        </div>
			        </div>
	            </div>
	          </div><!-- /.sidebar-module -->
	
	          <div class="sidebar-module">
	            <div class="panel panel-default">
	              <div class="panel-body">
	                <h4>Categories</h4>
	                <ol class="categories list-unstyled">
	                  <li>
	                    <a class="label label-light label-primary" href="filter-category.html">News</a>
	                    <span class="label label-light label-default pull-right">8</span>
	                  </li>
	                  <li>
	                    <a class="label label-light label-warning" href="filter-category.html">Apps</a>
	                    <span class="label label-light label-default pull-right">5</span>
	                  </li>
	                  <li>
	                    <a class="label label-light label-info" href="filter-category.html">Branding</a>
	                    <span class="label label-light label-default pull-right">9</span>
	                  </li>
	                </ol>
	              </div>
	            </div>
	          </div><!-- /.sidebar-module -->
	
	          <div class="sidebar-module">
	            <div class="panel panel-default">
	              <div class="panel-body">
	                <h4>Archives</h4>
	                <ol class="list-unstyled">
	                  <li><a href="filter-date.html">February 2016</a></li>
	                  <li><a href="filter-date.html">January 2016</a></li>
	                  <li><a href="filter-date.html">December 2015</a></li>
	                  <li><a href="filter-date.html">November 2015</a></li>
	                  <li><a href="filter-date.html">October 2015</a></li>
	                  <li><a href="filter-date.html">September 2015</a></li>
	                  <li><a href="filter-date.html">August 2015</a></li>
	                  <li><a href="filter-date.html">July 2015</a></li>
	                  <li><a href="filter-date.html">June 2015</a></li>
	                  <li><a href="filter-date.html">May 2015</a></li>
	                  <li><a href="filter-date.html">April 2015</a></li>
	                  <li><a href="filter-date.html">March 2015</a></li>
	                </ol>
	              </div>
	            </div>
	          </div><!-- /.sidebar-module -->
	
	          <div class="sidebar-module">
	            <div class="panel panel-default">
	              <div class="panel-body">
	                <h4>Newsletter</h4>
	                <div class="form-group label-floating">
	                  <label class="control-label" for="name">Name</label>
	                  <input type="text" id="name" class="form-control input-sm" />
	                </div>
	                <div class="form-group label-floating">
	                  <label class="control-label" for="email">E-mail</label>
	                  <input type="text" id="email" class="form-control input-sm" />
	                </div>
	                <a href="#" class="btn btn-default btn-raised btn-sm btn-block">Subscribe</a>
	              </div>
	            </div>
	          </div><!-- /.sidebar-module -->
	
	          <div class="sidebar-module">
	            <div class="panel panel-default">
	              <div class="panel-body">
	                <h4>Elsewhere</h4>
	                <ol class="list-unstyled">
	                  <li><a href="#">Facebook</a></li>
	                  <li><a href="#">Google+</a></li>
	                  <li><a href="#">Twitter</a></li>
	                </ol>
	              </div>
	            </div>
	          </div><!-- /.sidebar-module -->
	
		</div><!-- /.blog-sidebar -->
	
	</div>
</body>
</html>