<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="fragments/userHomeLayout" lang="en">
<head>
</head>
<body>
	<div th:fragment="share-on-social">		
		<p class="pull-right">			
			<a id="shareBtn" style="cursor: pointer;"><i class="fa fa-facebook-square fa-3x" style="color:#03a9f4;"></i></a>
				
			<a target="popup" href="javascript: void(0)"
				th:onClick="'javascript:lkShare(\'' + ${blogUrl} + ${#httpServletRequest.requestURI} + '\', \'' + ${#strings.capitalize(pageTitle)} + ' - Myanmar Effective Programmer' + '\');'">
					<i class="fa fa-linkedin-square fa-3x"></i>
			</a>
			
			<a target="popup" href="javascript: void(0)"
				th:onClick="'javascript:ttShare(\'' + ${blogUrl} + ${#httpServletRequest.requestURI} + '\', \'' + ${#strings.capitalize(pageTitle)} + '\');'">
					<i class="fa fa-twitter-square fa-3x"></i>
			</a>
		</p>
		
		<p class="pull-right">
			<span style="color: #4caf50;">Share on:</span>			
		</p>
		
		<script th:inline="javascript">
			document.getElementById('shareBtn').onclick = function() {
				
			var image = [[${(!#strings.isEmpty(article.postTitleImgUrl)) ? article.postTitleImgUrl : 'https://github.com/YeWin/MEP_Images/blob/master/002%20Use%20Images%20Title/practice.png?raw=true'}]];
		    var title = [[${#strings.capitalize(pageTitle)}]] + ' - Myanmar Effective Programmer';
		    var link = [[${blogUrl}]] + [[${#httpServletRequest.requestURI}]];
		    
		    FB.ui({
			    method: 'share_open_graph',
			    hashtag: '#mep',				    
		        action_type: 'og.shares',
		        action_properties: JSON.stringify({
		            object: {
		                'og:url': link,
		                'og:title': title,
		                'og:image': image,
		                'og:image:width': 1200,
		                'og:image:height': 600
		            }
		        })
			  }, function(response){});
			}
		</script>
	</div>
</body>
</html>