<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="fragments/userHomeLayout" lang="en">
<head>
</head>
<body>
	<div th:fragment="share-on-social">		
		<p class="pull-right">			
			<a id="shareBtn" style="cursor: pointer;"><i class="fa fa-facebook-square fa-3x" style="color:#03a9f4;"></i></a>
				
			<a target="popup" href="javascript: void(0)"
				th:onClick="'javascript:lkShare(\'' + ${blogUrl} + ${#httpServletRequest.requestURI} + '\', \'' + ${#strings.capitalize(pageTitle)} + ' - Myanmar Effective Programmer' + '\');'">
					<i class="fa fa-linkedin-square fa-3x"></i>
			</a>
			
			<a target="popup" href="javascript: void(0)"
				th:onClick="'javascript:ttShare(\'' + ${blogUrl} + ${#httpServletRequest.requestURI} + '\', \'' + ${#strings.capitalize(pageTitle)} + '\');'">
					<i class="fa fa-twitter-square fa-3x"></i>
			</a>
		</p>
		
		<p class="pull-right">
			<span style="color: #4caf50;">Share on:</span>			
		</p>
		
		<script th:inline="javascript">
			document.getElementById('shareBtn').onclick = function() {
				
			var image = [[${(!#strings.isEmpty(article.postTitleImgUrl)) ? article.postTitleImgUrl : 'https://github.com/YeWin/MEP_Images/blob/master/tutorial_1.jpeg?raw=true'}]];
		    var title = [[${#strings.capitalize(pageTitle)}]] + ' - Myanmar Effective Programmer';
		    var link = [[${blogUrl}]] + [[${#httpServletRequest.requestURI}]];
		    
		    FB.ui({
		        display: 'popup',
		        hashtag: '#mep',
		        method: 'share',
		        href: link,
		      }, function(response){});
		    }
		</script>
	</div>
</body>
</html>